@use "../tools/mixins" as mixin;
@use "../base/variables" as variable;

.DataTable {
  width: 100%;
  @include mixin.flex(center, center, column);
  gap: 0.625rem;

  &-title {
    font-size: 1.875em;
    font-family: map-get(variable.$fonts, "title");
  }

  &--resize {
    width: 50%;
  }

  &-svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  &-svg:hover {
    cursor: pointer;
  }

  &-sectable {
    width: 80%;
  }

  &-table {
    width: 80%;
    border-radius: 3px;
    color: map-get(variable.$colors, "black");
  }

  &-thead {
    background-color: map-get(variable.$colors, "secondary");
    font-size: 1.25em;
    font-family: map-get(variable.$fonts, "subtitle");
  }

  &-td {
    padding: 0.4375rem;
    text-align: center;
    font-family: map-get(variable.$fonts, "text");
  }

  &-th {
    padding: 0.625rem;
  }
  &-tr:nth-child(2n) {
    background-color: map-get(variable.$colors, "light");
  }
  &-tr:nth-child(2n + 1) {
    background-color: map-get(variable.$colors, "primary");
  }
}
