@use "../tools/mixins" as mixin;
@use "../base/variables" as variable;

.Navbar {
  background-color: map-get(variable.$colors, "primary" );
  @include mixin.flex(flex-start, center, column);
  gap: 1.25rem;
  padding: 0.625rem;
  width: 4.375rem;
  height: 100vh;
  position: fixed;
}
